<a href="https://colab.research.google.com/github/DhirendraSah/AI-and-ML-Source-Code/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

If-Else Statement

In [ ]:
a=int(input("Enter Your Marks"))
if a>=90:
  print("You are eligible")
else:
  print("you are not eligible")

Enter Your Marks95
You are eligible

If-elif-Else

In [ ]:
a=int(input("Enter Your Marks"))
if a>=90:
  print("You are highly eligible")
elif a>=50 and a<90:
  print("you are eligible")
elif a>=40 and a<50:
  print("you are coincidently eligible")
else :
  print("You are not eligible")

Enter Your Marks95
You are highly eligible

Nested-If

In [ ]:
a=int(input("Enter Your Marks:"))
if a>=90:
  print("You are highly eligible")
  if a>=95:
    print("You can go for trip")
else :
  print("you are eligible")

Enter Your Marks:90
You are highly eligible

Write a program to check if a number is positive or not

In [ ]:
num= int(input("Enter a number:"))
if num==0:
  print("Number is zero")
elif num>0:
   print("Number is positive")
else:
    print("Number is Negative")

Enter a number:0
Number is zero

Write a program to get Area.

In [ ]:
print("""press 1 to get area of Triangle
press 2 to get area of Rectangle
press 3 to get area of Square
press 4 to get area of Circle""")

choice = int(input("Press your choice:"))

if choice==1:
  h=int(input("Enter Hypotenious:"))
  b=int(input("Enter Base:"))
  p=int(input("Enter Perpendicular:"))
  area=1/2(b*h)
  print("Area of Triangle is", area)

elif choice==2:
  l=int(input("Enter Length:"))
  b=int(input("Enter Breadth:"))
  area=l*b
  print("Area of Rectangle is", area)

elif choice==3:
  l=int(input("Enter Length:"))
  area=l*l
  print("Area of Square is", area)

elif choice==4:
  r=int(input("Enter Radius:"))
  area=2*3.1416*r
  print("Area of Circle is", area)

<>:12: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
<>:12: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?

press 1 to get area of Triangle
press 2 to get area of Rectangle
press 3 to get area of Square
press 4 to get area of Circle
Press your choice:2

/tmp/ipython-input-1594133516.py:12: SyntaxWarning: 'int' object is not callable; perhaps you missed a comma?
  area=1/2(b*h)

Enter Length:4
Enter Breadth:5
Area of Rectangle is 20

Looping Statement - For Loop

In [ ]:
for i in range(1,6):
  print(i)

1
4

In [ ]:
a=5
for i in range(1,11):
  print(a,"*",i,"=",i*a)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

While Loop

In [ ]:
n=1
a=5
while(n<=10):
  print(a,"*",n,"=",n*a)
  n=n+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Write a program to print pattern

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print(j, end=" ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(0,6):
  for j in range(5,i,-1):
    print(j, end=" ")
  print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [ ]:
for i in range(1,6):
  for j in range(6,i,-1):
    print(i, end=" ")
  print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ", end=" ")
  for k in range(i):
    print("*", end=" ")
  print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
for i in range(1,6):
  for j in range(i,0,-1):
    print(j, end=" ")
  print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

String Manipulation

In [ ]:
a="My name is Dhirendra"

#Length of string
print(len(a))

#Count
print(a.count("n"))

#Upper case
print(a.upper())

#Lower Case
print(a.lower())

#index
print(a.index("n"))

#Capitalized
print(a.capitalize())

#casefold
print(a.casefold())

#Format
name="Dhirendra"
age=24
b="My name is {} and my age is {}"
print(b.format(name,age))

20
2
MY NAME IS DHIRENDRA
my name is dhirendra
3
My name is dhirendra
my name is dhirendra
My name is Dhirendra and my age is 24

Slicing and Indexing in String

In [ ]:
a="My name is Dhirendra sah"
print(a)
print(a[0:8])
print(a[8:11])

print(a[:3])
print(a[-10:-1])

My name is Dhirendra sah
My name
is
My
rendra sa

In [ ]:
a="0123456789"
print(a[::-1])
print(a[::2])
print(a[::-3])

9876543210
02468
9630

W.A.P to get Fibonacci series up to 10 numbers

In [ ]:
a=0
b=1

for i in range(2,11):
  c=a+b
  a=b
  b=c
  print(c)

1
2
3
5
8
13
21
34
55

In [ ]:
a=0
b=1
n=int(input("Enter a number:"))
if n==1:
  print(b)
else:
 for i in range(2,n):
  c=a+b
  a=b
  b=c
  print(c)

Enter a number:4
1
2

In [ ]:
#Palindrome
num=int(input("Enter any Number:"))
temp=num
rev=0
while (num>0):
  dig=num/10
  rev=rev*10+dig
  num=num//10
if rev==temp:
  print("Number is palindrome")

else:
  print("Number is not palindrome")

Number is not palindrome

List

In [13]:
fruits=["apple","banana","mango"]
print(fruits)
print(type(fruits))

#Indexing and Slicing of List
print(fruits[0])
print(fruits[2])
print("--------------")

print(fruits[1:])
print(fruits[:1])
print(fruits[::2])

['apple', 'banana', 'mango']
<class 'list'>
apple
mango
--------------
['banana', 'mango']
['apple']
['apple', 'mango']

List Iteration

In [20]:
a=["Ram","shyam","Gita","sita"]
for i in a:
  print(i, )

print("-----------------")

for i in range(0,len(a)):
  print(a[i])

Ram
shyam
Gita
sita
-----------------
Ram
shyam
Gita
sita

In [22]:
a=["Ram","shyam","Gita","sita"]
i=0
while (i<len(a)):
  print(a[i])
  i+=1

Ram
shyam
Gita
sita

Function in List

In [29]:
num=[2,3,"apple",50,"ram"]
print(num)

print(len(a))

print(num.count("apple"))

#To add element in last of list
num.append("sita")
print(num)

#To add element in any position or any index.
num.insert(1,"Hari")
print(num)

#To remove element
num.remove("apple")
print(num)

#To remove last element
num.pop()
print(num)

num.pop(3)
print(num)

[2, 3, 'apple', 50, 'ram']
4
1
[2, 3, 'apple', 50, 'ram', 'sita']
[2, 'Hari', 3, 'apple', 50, 'ram', 'sita']
[2, 'Hari', 3, 50, 'ram', 'sita']
[2, 'Hari', 3, 50, 'ram']
[2, 'Hari', 3, 'ram']

In [43]:
#To create copy of list
num=[2,3,"apple",50,"ram"]
num1=num.copy()
print(num1)
print(num)

#to access an element
print(num.index("apple"))

#To extent a list or add list in another list
num3=["Hii","Hello"]
num.extend(num3)
print(num)

#To reverse any list
num.reverse()
print(num)

#To sort a list
a=["zello","hii","ram","aita"]
a.sort()
print(a)

#To clear a list
a.clear()
print(a)

[2, 3, 'apple', 50, 'ram']
[2, 3, 'apple', 50, 'ram']
2
[2, 3, 'apple', 50, 'ram', 'Hii', 'Hello']
['Hello', 'Hii', 'ram', 50, 'apple', 3, 2]
['aita', 'hii', 'ram', 'zello']
[]

In [49]:
#List Comprehensive
l1=[20,30,40,50,60]
l2=[]
for i in l1:
  if i>30:
    l2.append(i)
print(l2)
print(l1)

l3=[i for i in l1]
print(l3)

[40, 50, 60]
[20, 30, 40, 50, 60]
[20, 30, 40, 50, 60]

Problem solving

In [51]:
#Convert Dictionary into json format
import json
std_marks={"math":40,"science":50,"english":60}
data=json.dumps(std_marks)
print(data)
print(type(data))

{"math": 40, "science": 50, "english": 60}
<class 'str'>

In [54]:
#Access the value of age from data
data="""{"Name":"Dhirendra","Age":50,"Roll":60}"""
data=json.loads(data)
data["Age"]

50

In [60]:
#Write a program to find max and min in a set.
a=[1,2,3,4,5,6,7,8,9]

print(max(a))
print(min(a))

#Write a program to find common elements in three lists using sets.
a=[5,6,7,8,9]
b=[1,2,3,4,5]
c=[2,3,4,5,6]

print(set(a) & set(b) & set(c))

#Write a program to find difference between two sets.
a={1,2,3,4,5}
b={4,5,6,7,8}
print(a-b)

#Write aprogram to remove an item from a set if it is present in the set
a={1,2,3,4,5}
a.discard(3)
print(a)

#Write a program to check if a set is a subset of another set.

9
1
{5}
{1, 2, 3}
{1, 2, 4, 5}